body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom:40px; 
    margin-top: 40px;
}

h3{
    background-color: #bfbfbf;
    margin-bottom : 0px;
    padding-top: 15px;
}

.nav-item{
    text-align: center;
    background-color: wheat;
}

p {
    background-color: #bfbfbf;;
    padding: 15px 15px;
}




